<div class="card">
    <div class="card-header">
        <div class="card-title">{{data.label}} High/Low</div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="container-fluid">
                <input [attr.disabled]="true" class="form-range" readonly aria-label="52week" type="range"
                    min="{{data.low}}" max="{{data.high}}" value="{{data.curr}}">
                <div class="d-flex flex-row  justify-content-between">
                    <div>{{data.low}}</div>
                    <div>{{data.high}}</div>
                </div>
            </div>
        </div>
    </div>
</div>