main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.main {
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}

.chart-block {
    display: flex;
    flex-direction: row;
}

.sidebar {
    border-right: solid 2px black;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

/* small Mobile devices */
@media screen and (max-width:759px) {
    .sidebar {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }




}



/* regular mobile devices */
@media screen and (max-width:1023px) {}

@media screen and (max-width:1199px) {}