<div class="chart-container">
    <div class="top-actions">
        <div class="action-container">
            <button (click)="openCreateForm()" data-bs-target="#createAlert" data-bs-toggle="modal"
                title="Create Price Alert" class=""><span class="material-symbols-outlined">
                    add_alert
                </span></button>
        </div>
    </div>
    <canvas id="chart"></canvas>
    <div class="chart-controls">
        <input aria-label="interval" type="range" (change)="changeIntervel(val.value)" #val class="form-range" min="0"
            max="2000" id="customRange2">
        <div class="chart-type">
            <button (click)="changeStyle('line')"><span class="material-symbols-outlined">
                    show_chart
                </span></button>
            <button (click)="changeStyle('scatter')"><span class="material-symbols-outlined">
                    scatter_plot
                </span></button>
            <button (click)="changeStyle('bar')"><span class="material-symbols-outlined">
                    bar_chart
                </span></button>
        </div>
    </div>

</div>


<div class="modal fade" tabindex="-1" id="createAlert">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Price Alert</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div [formGroup]="createAlert" class="modal-body">
                <label for="Stock Label" class="form-label">Stock Label</label>
                <input [attr.disabled]="true" type="text" formControlName="symbol" class="form-control"
                    title="stock symbol">
                <!-- <label for="alert-type" class="form-label">Type</label>
                <div class="form-inline">
                    <label for="" class="form-label">EQOAB</label>
                    <input type="radio" name="alerttype" value="EQOAB" id="EQOAB">
                    <label for="" class="form-label ms-5">EQOBL</label>
                    <input type="radio" name="alerttype" value="EQOBL" id="EQOBL">
                </div> -->
                <label for="price" class="form-label">Price</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">₹</span>
                    <input [ngClass]="{'is-invalid': f['price'].invalid && f['price'].touched}" formControlName="price"
                        type="text" class="form-control" placeholder="Price" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="text-danger"
                    [ngClass]="{'visible': f['price'].errors?.['required'] && f['price'].touched , 'd-none': !f['price'].errors?.['required']}">
                    Please Enter the Price to which you want to receive alert
                </div>
                <div class="text-danger"
                    [ngClass]="{'visible': f['price'].errors?.['min'] && f['price'].touched, 'd-none': !f['price'].errors?.['min']}">
                    Please Enter Price Above Zero
                </div>
                <p class="form-label"> <span class="form-label">Note: </span> Price will rounded off to 10 paise </p>
                <!-- <label for="email" class="form-label">Email</label>
                <div class="input-group flex-nowrap">
                    <input type="email" class="form-control" formControlName="email"
                        placeholder="Enter Email to receive alerts">
                    <span class="input-group-text btn btn-sm btn-primary" (click)="sendMail()"
                        [ngClass]="{'disabled': !f['email'].valid || mailInProgress || mailSent, 'btn-success': mailSent}"
                        id="addon-wrapping">
                        <ng-container *ngIf="mailInProgress; else mailbtnplaceholder">
                            <span class="disabled spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                        </ng-container>
                        <ng-template #mailbtnplaceholder>
                            <ng-container *ngIf="mailSent">
                                <i class="bi bi-check2"></i> Mail Sent
                            </ng-container>
                            <ng-container *ngIf="!mailSent">
                                Verify Email
                            </ng-container>
                        </ng-template>
                    </span>
                </div>
                <div class="text-danger"
                    [ngClass]="{'visible': f['email'].errors?.['emailError'],'d-none': !f['email'].errors?.['emailError']}">
                    Unable to send mail. Please check your mail id or try later.
                </div>
                <ng-container *ngIf="mailSent">
                    <label for="otp" class="form-label">OTP</label>
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" formControlName="otp"
                            placeholder="Enter OTP to verify Email">
                        <span
                            [ngClass]="{'disabled': !f['otp'].valid || otpProgress || otpVerified, 'btn-success': otpVerified}"
                            class="input-group-text btn btn-sm btn-primary" (click)="verifyOTP()" id="addon-wrapping">
                            <ng-container *ngIf="otpProgress; else otpPlaceholder">
                                <span class="disabled spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </ng-container>
                            <ng-template #otpPlaceholder>
                                <ng-container *ngIf="otpVerified">
                                    <i class="bi bi-check2"></i> OTP Verified
                                </ng-container>
                                <ng-container *ngIf="!otpVerified">
                                    Verify OTP
                                </ng-container>
                            </ng-template>
                        </span>
                    </div>
                    <div class="text-danger"
                        [ngClass]="{'visible': f['otp'].errors?.['otpError'],'d-none': !f['otp'].errors?.['otpError']}">
                        incorrect otp
                    </div>
                </ng-container> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #modal data-bs-dismiss="modal">Close</button>
                <button [disabled]="submitInProgress || !createAlert.valid" class="btn btn-primary"
                    (click)="submitCreateAlert()">
                    <ng-container *ngIf="submitInProgress; else submitbtnplaceholder">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </ng-container>
                    <ng-template #submitbtnplaceholder>
                        Submit
                    </ng-template>
                </button>
            </div>
        </div>
    </div>
</div>