<div class="chart-container">
    <p>{{symbol}}</p>
    <canvas id="chart"></canvas>
    <div class="chart-controls">
        <input aria-label="interval" type="range" (change)="changeIntervel(val.value)" #val class="form-range" min="0"
            max="2000" id="customRange2">
        <div class="chart-type">
            <button (click)="changeStyle('line')"><span class="material-symbols-outlined">
                    show_chart
                </span></button>
            <button (click)="changeStyle('scatter')"><span class="material-symbols-outlined">
                    scatter_plot
                </span></button>
            <button (click)="changeStyle('bar')"><span class="material-symbols-outlined">
                    bar_chart
                </span></button>
        </div>
    </div>

</div>