.chart-controls {
    display: flex;
    flex-direction: row;
}

.chart-type {
    display: flex;
    flex-direction: row;
}

.top-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

@media screen and (max-width:759px) {
    
}

/* regular mobile devices */
@media screen and (max-width:1023px) {}

@media screen and (max-width:1199px) {}