.container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: space-between;

    border: solid 1px black;
    text-anchor: start;
}

.icons {
    text-anchor: end;
    display: flex;
    visibility: hidden;
    justify-content: end;
    align-content: center;
    align-items: center;
}

.container:hover  .icons{
    visibility: visible;
}
