.main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* outline: 1px solid red; */
    width: 180px;
    height: 55px;
    background-color: antiquewhite;
    border-radius: 13px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    transition: box-shadow 400ms ease-in-out;
}

.timeframe{
    font-weight: normal;
    font-size: 10px;
}

.main-div:hover{
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.3);
    
}

.title-div {
    margin-left: 10%;
    margin-top: 8%;
}



.label-title-2 {
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 14px;
}

.label-title-3 {
    margin-bottom: 0;
    font-size: 10px;
    text-align: center;
}

.positive {
    color: #13C610;
}

.negative {
    color: #DE0000;
}

p {
    font-family: 'Roboto', sans-serif;
}

.indexs-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.title {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 2%;
}


.skeleton{
    animation: skeleton-loading 1s linear infinite alternate
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}


@media screen and (max-width:759px) {
    .main-div{
        width: 90px;
    }

    .label-title{
        font-size: small;
    }

    
}

/* regular mobile devices */
@media screen and (max-width:1023px) {
    .main-div{
        width: 150px;
    }

    .indexs-div{
        justify-content: center;
    }

    .title{
        text-align: center;
        margin-top: 5px;
        
    }

    

}

@media screen and (max-width:1199px) {
    
}