<div class="chart-container">
    <ng-container *ngIf="!stock">
        <div class="container">
            <h3 class="title">Index Performance</h3>
            <div class="indexs-div">
                <ng-container *ngFor="let index of indexes_data">
                    <div class="main-div">
                        <div class="title-div">
                            <p class="label-title">{{index.INDEX}}</p>
                        </div>
                        <div class="numbers-div">
                            <div class="closing-number"
                                [ngClass]="{'positive':index.CHANGE>0,'negative':index.CHANGE<0}">
                                <p class="label-title-2">
                                    {{index.CLOSE}}<i
                                        [ngClass]="{'bi bi-arrow-up':index.CHANGE>0,'bi bi-arrow-down':index.CHANGE<0}"></i>
                                </p>
                                <p class="label-title-3">{{index.CHANGE}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="container">
            <h3 class="title">Top 5 Gainers</h3>
            <div class="indexs-div">
                <ng-container *ngFor="let index of data.TOP_5_GAINERS">
                    <div class="main-div">
                        <div class="title-div">
                            <p class="label-title">{{index.SYMBOL}}</p>
                        </div>
                        <div class="numbers-div">
                            <div class="closing-number"
                                [ngClass]="{'positive':index.CHANGE>0,'negative':index.CHANGE<0}">
                                <p class="label-title-2">
                                    {{index.CLOSE}}<i
                                        [ngClass]="{'bi bi-arrow-up':index.CHANGE>0,'bi bi-arrow-down':index.CHANGE<0}"></i>
                                </p>
                                <p class="label-title-3">{{index.CHANGE}}%</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="container">
            <h3 class="title">Top 5 Losers</h3>
            <div class="indexs-div">
                <ng-container *ngFor="let index of data.TOP_5_LOSERS">
                    <div class="main-div">
                        <div class="title-div">
                            <p class="label-title">{{index.SYMBOL}}</p>
                        </div>
                        <div class="numbers-div">
                            <div class="closing-number"
                                [ngClass]="{'positive':index.CHANGE>0,'negative':index.CHANGE<0}">
                                <p class="label-title-2">
                                    {{index.CLOSE}}<i
                                        [ngClass]="{'bi bi-arrow-up':index.CHANGE>0,'bi bi-arrow-down':index.CHANGE<0}"></i>
                                </p>
                                <p class="label-title-3">{{index.CHANGE}}%</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="stock">
        <p class="h1">{{stock}}</p>
        <app-chart [symbol]="stock"></app-chart>
        <app-bites [symbol]="stock"></app-bites>
        <app-heat-calender [symbol]="stock"></app-heat-calender>
    </ng-container>
</div>
<!-- <div class="main-div">
    <div class="title-div">
        <p class="label-title">LABEL</p>
    </div>
    <div class="numbers-div">
        <div class="closing-number">
            <p class="label-title-2 positive">17202<i class="bi bi-arrow-up"></i></p>
            <p class="label-title-3 positive">+122</p>
        </div>
    </div>
</div> -->