/* .search-box {
    padding: 0%;
    margin: 0%;
} */

.results {
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.43);
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}



.results::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.symbol-container {
    font-weight: bold;

}

.search-box {
    box-shadow: 0px 6px 2px -3px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:759px) {}