<div class="main">
    <input id="search" (focus)="toggleResult(true)" [formControl]="searchBox" name="searchBox" type="search"
        class="form-control search-box" placeholder="Search Stocks">
    <div id="results" *ngIf="suggestion" class="results">
        <div class="symbol-container">
            <app-sym-block [type]="'search'" (toggleSuggestions)="toggleResult($event)" *ngFor="let symbol of matchedStocks"
                [stock]="symbol"></app-sym-block>
        </div>
    </div>
</div>