.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}



.date-container {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    justify-content: center;
    align-items: center;
}

.days-header {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    justify-content: center;
    align-items: center;
}

.day {
    font-weight: bold;
}

.months {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    color: white;
    position: relative;
    justify-content: center;
    justify-items: center;
    background-color: rgb(154, 181, 202);
    border-radius: 10px;
    padding: 10px;
}

.months {
    justify-self: center;
    align-self: center;
}

.month:hover {
    background-color: aliceblue;
    color: black;
}

.months-header {
    background-color: rgb(196, 195, 195);
}

.current-label {
    background-color: rgba(196, 195, 195, 0.3);
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.main-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* small Mobile devices */
@media screen and (max-width:900px) {
    
    .date-container{
        grid-template-columns: repeat(7,40px);
        gap: 10px;
    }

    .days-header{
        grid-template-columns: repeat(7,40px);
        gap: 10px;
    }


}



/* regular mobile devices */
@media screen and (max-width:1023px) {}

@media screen and (max-width:1199px) {}